.todos-wrapper{
  overflow-y: scroll;
  width: 60%;
  height: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
}

button{
  display:flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 15px;
  gap:10px;
  border-radius: 5px;
  color: rgba(255,255,255, 0.85);
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.btns-container{
  margin: auto;
  place-items:center;
}

.icon{
  background: 0;
  color: rgba(255,255,255, 0.85);
}
