$url:"https://cdn.pixabay.com/photo/2022/10/24/13/06/book-7543386_1280.jpg";
$url2:"https://cdn.pixabay.com/photo/2025/07/16/07/19/british-shorthair-9717301_1280.jpg";
$dark-url:"https://cdn.pixabay.com/photo/2023/06/04/00/34/flowers-8038712_1280.jpg";
$dark-url2:"https://cdn.pixabay.com/photo/2023/12/21/13/49/ferris-wheel-8461874_1280.jpg";

.app-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-attachment: fixed; // Make bg stay in a fixed place with scrolling
}

.top-section{
  text-align: center;
  padding: 90px 0 50px 0;

  h1{
    font-size: 90px;
    font-weight: 600;
  }

  h2{
    font-size: 30px;
    font-weight: 500;
  }

}

.content-section{
  flex-grow:1;
  min-height: 0;
}

.bottom-section{
  display: flex;

  app-tabs{
    margin:auto;
  }
}

.container{
  margin:auto;
}

.darkmode{
  $btn-text-color: rgb(181, 178, 178);
  filter: brightness(80%);
}

.change-bg-btn{
  position:absolute;
  top:10px;
  right:10px;
  padding: 10px;

  background: rgba(black, 0.1);
  color: rgba(white, 0.7);

  &:hover {
      background: rgba(black, 0.3);
      color: white;
  }

  &:active {
      transform: translateY(1px);
  }
}

.bg-img{
  position:fixed;
  z-index: -1;
  height:100%;
  width:100%;
  object-fit:cover;
}