.bookmark-tile{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 2px;
  background-color: rgba(145, 145, 145, 0.5);
  gap: 10px; /* Gap between pic and text */
  padding: 9px;
  transition: all 0.1s;

  &:hover{
    background-color: rgba(203, 201, 201, 0.5);
    cursor: pointer;
    backdrop-filter: blur(2px);
  }

  &:active{
    background-color: rgba(216, 216, 216, 0.5);
    transform: translateY(2px);
    transition-duration: 0s;
  }
}

.bookmark-tile img{
  width:38px;
  border-radius: 50%;
}

.tile-text{
  color:rgb(238, 237, 237);
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


i.pi {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pi-circle::before{
  content:"";
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}
